html, body{
    margin: 0;
    padding: 0;
}

.navbar-custom{
    background-color: #2F2E33;
    color: white;
    margin: 0;
    padding: 0;
}

.nav-link, .navbar-brand, .nav-link:visited, .navbar-brand:visited{
    color: white;
}
.nav-link:hover, .navbar-brand:hover{
    color: rgb(172, 172, 172);
}

.navbar-toggler{
    background-color: #919031;
}
.navbar-toggler-icon{

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
