html,body{
    color: white;
}

.location-container{
    margin-bottom: 10px;
}

.location-container p{
    margin: 0;
    color: white;
}

.location-container p:hover{
    color: rgb(201, 201, 201);
}

.store-name{
    font-weight: bold;
}

.location-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.more-info{
    text-decoration: underline;
}

#location-btn{
    display: flex;
    gap: 15px;
}

#location-btn a, #location-btn button{
    width: 100%;
}

.dropdown{
    width: 100%;
}

.custom-color-button{
    background-color: #919031;
    width: 100%;
    border: none;
    border-radius: 10px ;
    padding: 10px;
    font-weight:600;
    color: white;
}

.custom-color-button:hover{
    transition: 100ms;
    background-color: rgb(126, 124, 43);
}